body {
    background: url(media/antman-bg1.jpg) fixed center no-repeat;
    background-size: cover;
}

.background {
    position: relative;
    background: black;
    border: solid 20px #1d3557;
    opacity: 0.8;
    margin: 20px;
}

.content {
    display: table;
}

.left {
    float: left;
    width: 65%;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.right {
    float: right;
    width: 27%;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

h1 {
    color: lightblue;
    text-align: center;
    font: 35px lighter;
    margin-bottom: 0px;
}

h2 {
    color: lightblue;
    font: 30px lighter;
}

.subheading {
    color: white;
    text-align: center;
    margin-top: 1%;
    padding-bottom: 1%;
    border-bottom: solid 5px #9D152C;
    margin-bottom: 0%;
}

p {
    color: azure;
    font-size: larger;
}

img {
    border: solid 5px #9D152C;
}

table {
    margin-top: 40px;
    border-collapse: collapse;
    color: white;
}

.headRow {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    text-align: center;
    font-size: larger;
}

td,
th {
    text-align: left;
    padding: 8px;
}

.opaque {
    position: absolute;
}

.op1 {
    left: 70%;
    top: 190px;
}

.op2 {
    left: 150px;
    top: 800px;
}

.opf1 {
    width: 330px;
    height: 302px;
    padding: 5px;
}

.opf2 {
    width: 640px;
    height: 360px;
}